*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;  
}

.container{
    padding: 0 15px;
    max-width: 1190px;
    margin: 0 auto;
}

header{
    background: #f85ac38e;
    padding: 13.5px 0;
}

.header-info{
    display: grid;
    justify-content: end;
    align-items: center;
    grid-template-columns: 1fr 3fr 1fr;
}

#top{
    display: grid;
    justify-content: end;
    margin-left: 70px;
}

.menuItems{
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 20px;
    grid-column-gap: 15px;
    text-align: center;
    color: #fff;
    font-size: 16px;
}

.btn{
    background: #f85ac38e;
    font-size: 14px;
    color: #fff;
    border: none;
    width: 100px;
    padding: 13.2px 0;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 5px;
}

.service-info{
    display: grid;
    grid-template-rows: 1.5fr 1fr;
    align-items: center;
    justify-items: end;
    height: 300px;
    background-image: url('doggy.jpg');
    background-size: 400px 300px;
    background-repeat: no-repeat;
    background-position: left;
    color: #5300388e;
}

.service-info h1{
    font-size: 40px;
    margin: 0;
    text-align: center;
}

.buttons{
    width: 360px;
    display: grid;
    justify-content: space-between;
    justify-items: end;
    grid-template-columns: repeat(3, 1fr);
}

.footer{
    background: #f85ac38e;
}

.additional-info{
    display: grid;
    grid-template-columns: repeat(3, 320px);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 15px;
    justify-content: space-around;
    padding: 70px 0 60px;
}

.additional-info .card{
    width: 300px;
    color: #fff;
}

#doggy{
    max-width: 299px;
    max-height: 200px;
}

@media (max-width: 992px){
    header{
        height: 100px;
        padding: 28px;
    }
    .header-info{
        grid-template-columns: 1fr 2fr 1fr;
    }
    .service-info h1{
        font-size: 30px;
        text-align: right;
    }
    .additional-info{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .additional-info .card{
        margin-left: 15px;
    }
    .menuItems{
        font-size: 14px;
    }
}

@media (max-width: 767px){
    header{
        padding: 20px;
    }
    .header-btn{
        margin-top: 12px;
    }
    .header-info{
        grid-template-columns: 1fr 5fr 1fr;
    }
    .service-info{
        height: 350px;
        background-size: 280px 200px;
    }
    .service-info h1{
        font-size: 27px;
        text-align: right;
    }
    .buttons{
        width: auto;
    }
    .buttons button{
        margin-bottom: 12px;
    }
    .additional-info{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }
}