*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;  
}

.container{
    padding: 0 15px;
    max-width: 1140px;
    margin: 0 auto;
}

header{
    background: #e8f85a;
    padding: 13.5px 0;
}

.header-info{
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

.contacts a{
    color: #1bbe05;
    text-decoration: none;
    font-size: 12px;
    margin-right: 25px;
}

.contacts a img{ /*чтоб картинки не заезжали на контакты*/
    margin-right: 5px;
    width: 16px;
    height: 16px;
}

.btn{
    background: #1bbe05;
    font-size: 12px;
    color: #fff;
    border: none;
    width: 100px;
    padding: 13.2px 0;
    border-radius: 10px;
    margin-top: 20px;
}

.service-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 300px;
    background-image: url('images/book logo.jpg');
    background-repeat: no-repeat;
    background-position: left;
}

.service-info h1{
    font-size: 40px;
    margin: 0;
}

.buttons{
    width: 360px;
    display: flex;
    justify-content: space-between;
}

.footer{
    background: #e8f85a;
}

.additional-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 70px 0 60px;
}

.additional-info .card{
    width: 300px;
}

@media (max-width: 992px){
    header{
        height: 150px;
        padding: 28px;
    }
    .header-info{
        flex-direction: column;
    }
    .service-info h1{
        font-size: 30px;
        text-align: right;
    }
}

@media (max-width: 767px){
    header{
        height: 210px;
        padding: 20px;
    }
    .contacts{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contacts a{
        margin-bottom: 5px;
    }
    .header-btn{
        margin-top: 12px;
    }
    .service-info{
        height: 350px;
    }
    .service-info h1{
        font-size: 25px;
        text-align: right;
    }
    .buttons{
        width: auto;
        flex-direction: column;
    }
    .buttons button{
        margin-bottom: 12px;
    }
    .additional-info{
        padding: 20px 0;
    }
}